.venv/
build/
*.egg-info/
*.ipynb_checkpoints/
*.pyc
*.pyo
__pycache__/
*.DS_Store
*.log
config.ini
.vscode/
examples/optimization-results/*
examples/simulation-results/*
scratchpad.ipynb
dist/
.pytest_cache/